*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(135deg,#ffe6f0,#ffc9dd,#ffdff0);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.container{
    width:95%;
    max-width:600px;
    background:white;
    border-radius:35px;
    padding:45px;
    text-align:center;
    box-shadow:0 25px 60px rgba(255,105,180,.25);
}

.bear{
    width:220px;
    margin-bottom:20px;
}

h1{
    color:#ff2d75;
    margin-bottom:15px;
    font-size:42px;
}

.text{
    font-size:26px;
    margin-bottom:45px;
    color:#444;
}

.buttons{
    position:relative;
    height:120px;
}

button{
    width:170px;
    height:65px;
    border:none;
    border-radius:40px;
    cursor:pointer;
box-shadow:0 8px 20px rgba(0,0,0,.15);
    font-size:22px;
    font-weight:bold;
    transition: .35s ease;
}

#yesBtn{
    background:#ff4f8b;
    color:white;
}

#yesBtn:hover{
    transform:scale(1.1);} 
#yesBtn:active{
    transform:scale(.96);
}
#noBtn{
    background:#e5e5e5;
    color:#333;
    position:absolute;
    right:0;
    top:0;
}
#noBtn:hover{
    background:#dcdcdc;
}

#message{
    margin-top:30px;
    font-size:22px;
    color:#ff2d75;
    font-weight:bold;
    min-height:40px;
    opacity:0;
transition:.4s;
}
.container{
    animation: fadeIn 0.8s ease;
}

@keyframes fadeIn{
    0%{
        opacity:0;
        transform:scale(0.85) translateY(30px);
    }

    100%{
        opacity:1;
        transform:scale(1) translateY(0);
    }
}
